@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* src/index.css */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #6ae4a5; /* your custom color */
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6ae4a5;
}

/* Firefox */
.ql-editor {
  @apply min-h-[250px];
}
* {
  scrollbar-width: thin;
  scrollbar-color: #00A651 #f0f0f0;
}

/* Optional smooth scrolling */
html {
  scroll-behavior: smooth;
}
